* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sidebar-background-clr: linear-gradient(#e14eca, #ba54f5);
  --btn-and-logo-clr: white;
  --background-clr: rgb(30, 30, 47);
  --main-txt-clr: rgb(191, 191, 198);
  --card-background-clr: rgba(39, 41, 61);
  --card-font-size: 1rem;
  --announcement-font-size: 0.8rem;
  --heading-and-header-clr: rgb(240, 237, 237);
  --card-hover-clr: rgb(66, 68, 93);
  --sidebar-font-size: 1.1rem;
}

body {
  display: grid;
  grid-template-columns: minmax(200px, 320px) 1fr;
  grid-template-rows: 150px 1fr;
  font-family: sans-serif;
  background-color: var(--background-clr);
  color: var(--main-txt-clr);
}

li {
  list-style: none;
}
header {
  grid-area: 1 / 2 / 2 / 3;
  color: var(--heading-and-header-clr)
}

main {
  display: grid;
  grid-area: 2 / 2 / 3 / 3;
  grid-template-columns: 3fr minmax(180px, 280px);
  gap: 30px;
  padding: 30px;
}

main h2,h3,h4 {
  color: var(--heading-and-header-clr)
}

/* header section */

header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 20px 50px;
  background-color: var(--card-background-clr);
}

.search {
  display: grid;
  grid-template-columns: 40px minmax(200px, 500px);
  gap: 20px;
  /* margin: 30px; */
}

.search > svg {
  width: 35px;
}

.search > input {
  outline: none;
  border: none;
  border-radius: 20px;
  height: 20px;
  padding: 15px;
  background-color: var(--background-clr);
  color: white;
}

.header-left {
  display: grid;
  gap: 20px;
  margin-top: 10px;
}

.profile-info {
  display: grid;
  grid-template-columns: 50px 300px;
  gap: 20px;
}

.welcome {
  align-self: center;
}

.welcome span {
  font-size: 0.8rem;
}

.welcome > p {
  font-size: 1.2rem;
}

.header-right {
  display: grid;
}

.user-icons {
  display: grid;
  grid-template-columns: 30px 50px 150px;
  justify-content: right;
  align-content: start;
  gap: 30px;
}

.user-icons > svg:nth-child(1),
.user-icons > p {
  align-self: center;
}

.user-icons > svg:nth-child(1) {
  width: 25px;
}

.user-btns {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 30px;
  align-items: center;
  justify-content: end;
}

.user-btns > button {
  background-color: #ce45ae;
  color: white;
  border-radius: 25px;
  border: none;
  padding: 8px;
  cursor: pointer;
}

/* Left navigation */

aside {
  position: sticky;
  top: 0;
  height: 100vh;
}

.sidebar-container {
  display: grid;
  grid-area: 1 / 1 / 3 / 2;
  gap: 50px;
  align-content: start;
  padding: 25px 15px;
  background-image: var(--sidebar-background-clr);
  color: var(--btn-and-logo-clr);
}

.logo-section,
.links > a {
  display: grid;
  grid-template-columns: 30px auto;
  gap: 30px;
}

.links > a {
  width: 30px;
  font-size: var(--sidebar-font-size);
}
.logo-section span {
  align-self: center;
  font-size: 2.2rem;
}

svg {
  width: 50px;
  fill: white;
}

.sidebar-container a {
  text-decoration: none;
  color: white;
}

.main-links ul,
.secondary-links ul {
  display: grid;
  gap: 10px;
  margin-left: 10px;
}

.links > a {
  gap: 25px !important;
}

.links > a > span {
  align-self: center;
}

.links > a > svg {
  width: 30px;
}

/* project cards section */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.card {
  padding: 30px 30px;
  background-color: var(--card-background-clr);
  border-left: 7px solid #ce45ae;
  border-radius: 5px;
  display: grid;
  gap: 10px;
}

.card > p {
  font-size: var(--card-font-size);
}

.card:hover {
  background-color: var(--card-hover-clr);
}

.cards,
.announcement-container,
.trending-container {
  margin-top: 20px;
}

.project-icons {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-icons > svg {
  width: 30px;
  margin-top: 10px;
  cursor: pointer;
}
/* right section */

.announcement-container,
.trending-container {
  padding: 20px 15px;
  background-color: var(--card-background-clr);
  border-radius: 5px;
}

.announcement-container {
  display: grid;
  gap: 20px;
  padding: 30px;

  /* font-size: var(--announcement-font-size); */
}

.annoucement > p {
  font-size: var(--announcement-font-size);
}
.annoucement > h4 {
  margin-bottom: 5px;
}

.trending {
  margin-top: 35px;
}
.trending-container {
  display: grid;
  gap: 20px;
}

.trending-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.trending-card > svg {
  justify-self: center;
}

.trending-card > div > span {
  color: var(--heading-and-header-clr);
}

.trending-card p {
  font-size: 14px;
}

.trending-card > div {
  align-self: center;
}
