* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}
header {
  grid-area: 1 / 2 / 2 / 3;
}

aside {
  grid-area: 1 / 1 / 3 / 2;
  height: 100vh;
}

main {
  display: grid;
  grid-area: 2 / 2 / 3 / 3;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 30px;
  background-color: rgb(228, 230, 231);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.card {
  padding: 35px 10px;
  background-color: white;
}

/* right section */

.announcement-container {
  padding: 35px 15px;
  background-color: white;
}
